<template>
  <img src="@/assets/pexels-diva-plavalaguna-6150432.jpg" class="app-background"/>
  <router-view />
</template>

<script lang="ts">
import "@fontsource/roboto";

export default { }
</script>

<style>
* {
  font-family: "Roboto";
  letter-spacing: 1px;
}

.app-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -1;
}
</style>
