<template>
  <div class="home-page">
    <div class="header">
      <a href="/">
        <img src="../assets/logo.png" class="logo" href="/"/>
      </a>
      <h1>The Butter Chicken Lady</h1>
      <div class="subtitle">
        The Place-To-Eat Finder for Indecesive People
      </div>
    </div>
    <div class="buttons">
      <router-link to="/rooms/create">
        <button type="button" class="title-button">Create a Room</button>
      </router-link>
      <button type="button" class="title-button">Join a Room</button>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'Home Page',
}
</script>

<style lang="scss" scoped>
@use '@/styles/button.scss';
@use '@/styles/colors.scss';
@use '@/styles/text.scss';

.home-page {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .header {
    background-color: rgba(colors.$text-dark, .4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    h1 {
      text-align: center;
      margin-bottom: 0;
    }

    .subtitle {
      text-align: center;
      color: darken(colors.$text-light, 10%);
      margin-bottom: 1rem;
    }

    .logo {
      position: absolute;
      left: 0;
      height: 100%;
      padding: 1rem;
      box-sizing: border-box;
      object-fit: contain;

      &:hover {
        transform: scale(125%);
      }

      transition: transform 250ms;
    }
  }

  .buttons {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    > * {
      flex: 0 0 auto;
      width: 25%;
      min-width: 20rem;
    }

    a button {
      width: 100%;
    }
  }
}
</style>