@use './colors.scss';

.title-button {
  padding: 1rem;
  font-size: large;
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(#000, .6);
  border: none;
  border-radius: 7px;
  color: colors.$text-light;

  &:hover {
    box-shadow: 0 0 0 3px inset colors.$accent-1-light;
    color: colors.$accent-1-light;
    background-color: #000;
  }

  transition: all 350ms;
}